{% extends 'main.html' %}
{% block content %}
{% load static %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Size</th>
                        <th scope="col">Colour</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in order.items.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            {{order_item.item.product_name}}
                        </td>
                        <td>
                            {{ order_item.order_size }}
                        </td>
                        <td>
                            {{order_item.item.product_color}}
                        </td>
                        <td>
                            {% if order_item.item.discount %}
                            <h5>RS.{{order_item.item.deal_price}}</h5>
                            {% else %}
                            <h5>RS.{{order_item.item.product_price}}</h5>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'remove_item_cart' pk=order_item.order_id%}"><i
                                    class="fa fa-minus mr-2"></i></a>{{order_item.product_quantity}}
                            <a href="{% url 'update_cart' pk=order_item.order_id %}"><i class="fa fa-plus ml-2"></i></a>
                        </td>
                        <td>
                            {% if order_item.item.discount %}
                            <h5>RS.{{order_item.get_total_disc_price}}
                                <span class="badge badge-primary">(Savings RS.{{ order_item.amount_saved }})</span></h5>
                            {% else %}
                            <h5>{{order_item.get_total_item_price}}</h5>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'remove_cart' pk=order_item.order_id %}"><i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">
                            <h2>Your Cart Is Empty!!</h2>
                        </td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/home/">Continue Shopping</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if order.get_total %}
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>RS.{{order.get_total}}</h5>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr class="out_button_area">
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/home/">Continue Shopping</a>
                                <a class="primary-btn" href="/checkout/">Proceed to checkout</a>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
{% endblock %}