{% extends 'main.html' %}
{% block content %}
{% load static %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">product-details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
{% for object in objects %}
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ object.image0.url }}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ object.image1.url }}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{ object.img_url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{object.product_name}}</h3>
                    {% if object.discount %}
                    <h5>{{ object.deal_price }}</h5>
                    <s><h6>{{object.product_price}}</h6></s>
                    {% else %}
                    <h5>{{object.product_price}}</h5>
                    {% endif %}
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{object.get_product_type_display}}</a>
                        </li>
                        <li><a class="active" href="#"><span>Brand</span> :
                            {{object.value.get_laptop_brand_display}}</a>
                        </li>
                        <li><a class="active" href="#"><span>Model</span> : {{object.value.model_name}}</a>
                        </li>
                        <li><a class="active" href="#"><span>OS</span> : {{object.value.operating_system}}</a>
                        </li>
                    </ul>
                    <p>
                        {{object.product_details}}
                    </p>
                    <form method="post" action="{% url 'add_cart' pk=object.id%}">
                        {% csrf_token %}
                        <div class="card_area d-flex align-items-center">
                            <button class="primary-btn">Add to Cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    {% for object in objects %}
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Details Of Seller</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile"
                   aria-selected="false">Specification</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
                   aria-controls="review"
                   aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <h5>Manufacturer</h5>
                        </td>
                        <td>
                            <h5>{{object.value.manufacturer}}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Seller</h5>
                        </td>
                        <td>
                            <h5>???</h5>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h5>Model Year</h5>
                            </td>
                            <td>
                                <h5>{{object.value.model_year}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Display Size</h5>
                            </td>
                            <td>
                                <h5>{{object.value.screen_size}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Screen Type</h5>
                            </td>
                            <td>
                                <h5>{{object.value.screen_type}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Weight</h5>
                            </td>
                            <td>
                                <h5>{{object.value.weight}} KG</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Processor Brand</h5>
                            </td>
                            <td>
                                <h5>{{object.value.processor_brand}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Processor Speed</h5>
                            </td>
                            <td>
                                <h5>{{object.value.processor_speed}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Processor Type</h5>
                            </td>
                            <td>
                                <h5>{{object.value.processor_type}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Resolution</h5>
                            </td>
                            <td>
                                <h5>{{object.value.resolution}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Ram</h5>
                            </td>
                            <td>
                                <h5>{{object.value.ram}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Storage Type</h5>
                            </td>
                            <td>
                                <h5>{{object.value.get_storage_type_display}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Storage Size</h5>
                            </td>
                            <td>
                                <h5>{{object.value.storage_size}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Max Supported Storage Size</h5>
                            </td>
                            <td>
                                <h5>{{object.value.max_memory_supported}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Hard Drive Interface</h5>
                            </td>
                            <td>
                                <h5>{{object.value.hard_drive_interface}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Hard Drive Rotation</h5>
                            </td>
                            <td>
                                <h5>{{object.value.hard_drive_rotation_speed}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Graphics Card</h5>
                            </td>
                            <td>
                                <h5>{{object.value.graphics_card_detail}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Graphics Card Ram Type</h5>
                            </td>
                            <td>
                                <h5>{{object.value.graphics_card_ram_type}}</h5>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5>Graphics Card Interface</h5>
                            </td>
                            <td>
                                <h5>{{object.value.graphics_card_interface}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Graphics Card Coprocessor</h5>
                            </td>
                            <td>
                                <h5>{{object.value.graphics_coprocessor}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Battery Details</h5>
                            </td>
                            <td>
                                <h5>{{object.value.battery_details}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Usb Ports</h5>
                            </td>
                            <td>
                                <h5>{{object.value.usb_port}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Optical Drive</h5>
                            </td>
                            <td>
                                <h5>{{object.value.optical_drive_type}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Hardware Interface</h5>
                            </td>
                            <td>
                                <h5>{{object.value.hardware_interface}}</h5>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5>Connector Type</h5>
                            </td>
                            <td>
                                <h5>{{object.value.connector_type}}</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Power Source</h5>
                            </td>
                            <td>
                                <h5>{{object.value.power_source}}</h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Overall</h5>
                                    <h4>4.0</h4>
                                    <h6>(03 Reviews)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Based on 3 Reviews</h3>
                                    <ul class="list">
                                        <li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                        <li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-1.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-2.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea
                                    commodo</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Add a Review</h4>
                            <p>Your Rating:</p>
                            <ul class="list">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <p>Outstanding</p>
                            <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                                  novalidate="novalidate">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Your Full name" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Your Full name'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="Email Address" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Email Address'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="number" name="number"
                                               placeholder="Phone Number" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Phone Number'">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" rows="1"
                                                  placeholder="Review" onfocus="this.placeholder = ''"
                                                  onblur="this.placeholder = 'Review'"></textarea></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Submit Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!--================End Product Description Area =================-->

<!-- End related-product Area -->
{% endblock %}