{% extends 'main.html' %}
{% block content %}
{% load static %}
<!-- End Header Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Forgot Password</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="">Forgot Password</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Password Reset</h2>
                <p>
                    Forgotten your password?
                    Enter Your Email to get a link for Reeting Password
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send Email">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}