{% extends 'seller_main.html' %}
{% block content %}
{% load static %}
<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <p>Seller</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon1.png'%}" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon2.png'%}" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon3.png'%}" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="{% static 'img/features/f-icon4.png' %}" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="{% static 'img/category/W.jpg' %}" alt="">
                            <a href="{% url 'register_seller_product' pk='W' %}">
                                <div class="deal-details">
                                    <h6 class="deal-title">Add Watches</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="{% static 'img/category/S.jpg' %}" alt="">
                            <a href="{% url 'register_seller_product' pk='S' %}">
                                <div class="deal-details">
                                    <h6 class="deal-title">Add Shoes</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="{% static 'img/category/C.jfif' %}" alt="">
                            <a href="{% url 'register_seller_product' pk='C' %}">
                                <div class="deal-details">
                                    <h6 class="deal-title">Add Clothes</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="{% static 'img/category/L.jpeg' %}" alt="">
                            <a href="{% url 'register_seller_product' pk='L' %}">
                                <div class="deal-details">
                                    <h6 class="deal-title">Add Laptop</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="{% static 'img/category/M.jpg' %}" alt="">
                            <a href="{% url 'register_seller_product' pk='M' %}">
                                <div class="deal-details">
                                    <h6 class="deal-title">Add Mobiles</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
